= tinymce_assets
= tinymce 
.content-area.blog-page.padding-top-40.add-jobs-container
  .container
    .row.col-lg-offset-2.col-lg-8
      %h3.new-job-title Add a new job post: 
      = render 'form', job: @job
      