.content-area.blog-page.padding-top-40.jobs-on-twitter-container
  .container
    .row
      .col-md-4.panel.panel-default.sidebar-menu.wow.fadeInRight.animated
        .jobs-on-twitter-list
          .bs-example
            %ul.list-group
              %li.list-group-item.active
                %h5.bold #RubyOnRailsJobs
              %li.list-group-item
                %h5 #ReactJsJobs
              %li.list-group-item
                %h5 #JavaScriptJobs
              %li.list-group-item
                %h5 #PythonJobs
              %li.list-group-item
                %h5 #NodeJsJobs
              %li.list-group-item
                %h5 #AngularJsJobs
              %li.list-group-item
                %h5 #AndroidJobs
              %li.list-group-item
                %h5 #iOSJobs
      / </div>
      
      .col-md-8
        #tweets
          = render :partial => "jobs/tweets", :collection => @tweets, :as => :tweet
            
        #divCheckbox{:style => "visibility: hidden;"}
          = will_paginate @tweets