.content-area.blog-page.search-jobs-container
  .container
    .row.job-container
      = javascript_pack_tag 'jobs'
      
      / .blog-asside-right.col-md-4.search-jobs-div
      /   .panel.panel-default.sidebar-menu.wow.fadeInRight.animated
      /     .panel-heading
      /       %h3.panel-title Search Jobs
          
      /     .form-group
      /       %input#usr.form-control{:type => "text"}
          

      /     .job-list
      /       .bs-example
      /         %ul.list-group
      /           %li.list-group-item.active
      /             %span.job-list-title.bold Ruby on Rails Developer
      /             %span.job-list-company-name Google
      /             %span.job-list-city-name Bangalore
      /           %li.list-group-item
      /             %span.job-list-title.bold Ruby on Rails Developer
      /             %span.job-list-company-name Google
      /             %span.job-list-city-name Bangalore
      /           %li.list-group-item
      /             %span.job-list-title.bold Ruby on Rails Developer
      /             %span.job-list-company-name Google
      /             %span.job-list-city-name Bangalore
      /           %li.list-group-item
      /             %span.job-list-title.bold Ruby on Rails Developer
      /             %span.job-list-company-name Google
      /             %span.job-list-city-name Bangalore
      

      / .blog-lst.col-md-8.job-desc-div
      /   .section.job-desc-section
      /     .job-description-title
      /       %span Job Title
      /     .s-property-content
      /       %p Nulla quis dapibus nisl. Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies commodo arcu nec pretium. Nullam sed arcu ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies
      /   .section.job-desc-section
      /     .job-description-title
      /       %span Programming Language
      /     .s-property-content
      /       %p Nulla quis dapibus nisl. Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies commodo arcu nec pretium. Nullam sed arcu ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies
      /   .section.job-desc-section
      /     .job-description-title
      /       %span Experience
      /     .s-property-content
      /       %p Nulla quis dapibus nisl. Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies commodo arcu nec pretium. Nullam sed arcu ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies
      /   .section.job-desc-section
      /     .job-description-title
      /       %span Skills Required
      /     .s-property-content
      /       %p Nulla quis dapibus nisl. Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies commodo arcu nec pretium. Nullam sed arcu ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies
      /   .section.job-desc-section
      /     .job-description-title
      /       %span Job Description
      /     .s-property-content
      /       %p Nulla quis dapibus nisl. Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies commodo arcu nec pretium. Nullam sed arcu ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies